body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

nav {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

footer {
  color: #888888;
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #eeeeee;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

nav a {
  color: #888888;
  text-decoration: none;
  margin-right: 1rem;
  transition: color 0.2s linear;
}
nav a:hover {
  color: #222;
}

.profile-img {
  width: 14rem;
  height: 20rem;
  object-fit: cover;
}

input {
  border: 1px solid #cccccc;
  padding: 0.5rem;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 0.5rem;
}
button:hover {
  background: #777777;
}
